* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DIGITAL';
    src: url(/fonts/DIGITAL-Regular.ttf);
}

html {
    font-family: 'DIGITAL';
    width: 100%;
    height: 100%;
}

body.w {
    left: 50%;
    top: 50%;
    height: 100vw;
    width: 100vh;
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transform: translate(-50%, -50%) rotate(90deg)
}

body {
    position: absolute;
    overflow: hidden;
    background: url(https://cdn.leonus.cn/img/studybg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: middle;
}

input {
    outline: none;
    color: #333;
}

.main {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.content {
    margin: 20px 0;
    min-width: 764px;
    font-size: 150px;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.content div {
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 180px;
    margin: 20px;
    border-radius: 15px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content span {
    align-items: center;
    display: flex;
    padding-bottom: 30px;
}

menu {
    position: fixed;
    left: 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
}

menu a {
    background: rgba(0, 0, 0, 0.2);
    margin: 0 3px;
    color: white;
    display: flex;
    font-size: 18px;
    width: 40px;
    border-radius: 0 0 10px 10px;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.hidebtns,
.btns {
    display: flex;
    transition: .5s;
    border-radius: 0 0 10px 10px;
}

.hidebtns {
    transform: translateY(-100%);
}

.open {
    transform: translateY(0);
}

.pause {
    display: none;
}

.bottom {
    cursor: pointer;
    text-align: center;
    letter-spacing: 5px;
    margin: 0 10px;
}

.today {
    letter-spacing: 3px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

#cleerData,
#hideFooterBtn {
    cursor: pointer;
    border: 1px solid #42a5f5;
    border-radius: 5px;
    color: #42a5f5;
    background: none;
    padding: 3px 8px;
    transition: .3s;
}

#cleerData:hover,
#hideFooterBtn:hover {
    background-color: #42a5f5;
    color: white;
}

.footerHide {
    display: none;
}

footer * {
    letter-spacing: 2px;
    color: white;
}

@media screen and (max-width: 800px) {
    .content {
        font-size: 120px;
        min-width: 573px;
    }
    .content div {
        height: 150px;
        margin: 15px;
        width: 150px;
    }
}

@media screen and (max-width: 615px) {
    .main {
        font-size: 16px;
    }
    .content {
        font-size: 90px;
        min-width: 415px;
    }
    .content div {
        height: 110px;
        margin: 10px;
        width: 110px;
    }
    .content span {
        padding-bottom: 15px;
    }
    menu a {
        font-size: 16px;
        width: 38px;
        height: 32px;
        border-radius: 0 0 6px 6px;
    }
}

@media screen and (max-width: 432px) {
    .w .postbird-box-content {
        top: 0;
        transform: translate(-50%, 10%);
        margin-top: 0;
    }
    menu {
        justify-content: center;
    }
    .content {
        width: 100%;
        font-size: 70px;
        max-width: 432px;
        min-width: unset;
    }
    .content div {
        border-radius: 8px;
        height: 85px;
        margin: 10px;
        width: 85px;
    }
}